<tui-island class="w-56" [hoverable]="true">
  <img
    class="w-full rounded-t-lg movie-poster"
    [src]="
      'https://image.tmdb.org/t/p/w600_and_h900_bestv2/' + movie.backdrop_path
    "
    alt="movie-poster"
  />
  <div class="p-2 flex flex-col gap-3 pb-4">
    <div class="flex justify-between flex-col">
          <span class="flex items-center text-sm gap-1">
      <tui-rating
        [max]="1"
        [ngModel]="1"
        [iconNormal]="tuiIconStar"
        [iconFilled]="tuiIconStar"
        class="rating-icon"
      />
            {{ round(movie.vote_average) }}
    </span>
      <div  class="flex">
          <tui-tag
            size="s"
            class="mr-1.5 my-2"
            [value]="movie?.genres[0]"
            *ngIf="!!movie?.genres[0]"
          />

          <tui-tag
            size="s"
            class="mr-1.5 my-2"
            [value]="movie?.genres[1]"
            *ngIf="!!movie?.genres[1]"
          />
      </div>
    </div>

    <tui-line-clamp
      class="text-sm"
      [content]="movie.title + ' (' +( movie.release_date | date: 'y') + ')'"
      [lineHeight]="20"
      [linesLimit]="1"
    />
  </div>
</tui-island>
