<div class="h-full flex-col flex justify-between">
  <div class="flex flex-col gap-2.5">
    <label tuiLabel="Genre">
      <tui-multi-select
        [editable]="false"
        [formControl]="form.controls.genre"
        [tuiTextfieldSize]="'m'"
        [tuiTextfieldLabelOutside]="true"
      >
        Select genres...
        <tui-data-list-wrapper
          *tuiDataList
          tuiMultiSelectGroup
          [items]="genres"
        ></tui-data-list-wrapper>
      </tui-multi-select>
    </label>
    <label tuiLabel="Language">
      <tui-multi-select
        [editable]="false"
        [formControl]="form.controls.language"
        [tuiTextfieldSize]="'m'"
        [tuiTextfieldLabelOutside]="true"
      >
        Select languages...
        <tui-data-list-wrapper
          *tuiDataList
          tuiMultiSelectGroup
          [items]="languages"
        ></tui-data-list-wrapper>
      </tui-multi-select>
    </label>
  </div>

  <div class="flex gap-1.5 justify-end mt-4.5">
    <button tuiButton [appearance]="'outline'" (click)="close()">Cancel</button>
    <button tuiButton [appearance]="'primary'" (click)="save()">Filter</button>
  </div>
</div>
