<div class="flex justify-between items-center gap-60 h-[36px]">
  <div class="flex justify-between items-center h-full gap-1 logo cursor-pointer" [routerLink]="'/'">
    <tui-svg [src]="tuiIconFilm" />
    <p class="text-sm">Reel Review</p>
  </div>

  @if (allowSearch) {
    <app-search class="grow w-40" (searched)="searched.next($event)"/>
  }

  <div class="flex justify-between items-center h-full gap-4">
    <tui-svg [src]="tuiIconFilter" *ngIf="allowFiltering" [tuiHint]="'Filter'" (click)="openFilterDialog()" />
    @if (darkMode) {
      <tui-svg [src]="tuiIconSun" (click)="toggleDarkMode()" [tuiHint]="'Light Mode'" />
    } @else {
      <tui-svg [src]="tuiIconMoon" (click)="toggleDarkMode()" [tuiHint]="'Dark Mode'" />
    }
    <ng-container *ngIf="authService.loggedIn">
      <tui-hosted-dropdown [content]="dropdownContent">
        <tui-avatar [text]="authService.user?.firstName" size="xs" [style.background]="authService?.user | avatarColor"/>
      </tui-hosted-dropdown>
    </ng-container>

    <ng-container *ngIf="!authService.loggedIn">
      <tui-svg [routerLink]="'/login'" [src]="tuiIconLogIn" [tuiHint]="'Log In'" />
    </ng-container>
  </div>
</div>

<ng-template #dropdownContent>
  <tui-data-list>
    <button tuiOption [routerLink]="'/user'">Wishlist & Ratings</button>
    <button tuiOption (click)="logout()">Log Out</button>
  </tui-data-list>
</ng-template>
